<!doctype html>
<html>
<head>
    <title>Band Together</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="app.css" rel="stylesheet" type="text/css" />
    <link href="mobile.css" rel="stylesheet" type="text/css" />
    <% include partials/head %>
    <style>
        li          { opacity : 0; transition : all 1.s; list-style: none; text-align: left; display:none;}
        li.selected { opacity: 0; display: none;}
        li.next     { opacity : 1; display: block;}
        li.current { display: block; opacity: 1; margin: auto;}
        .hidden    { display: none;}
    </style>

</head>

<body>

  <header>
    <% include partials/header %>
  </header>

    <% for (var i = 0; i < all.length; i++) { %>
      <li data-id= '<%= all[i].id %>' class = "<%= i !== 0 ? 'card': 'card current' %>">
        <h2 class="profile-header"> People near you </h2>
        <h2 class='profile-intro'><span id='name'><%= all[i].name %></span><span><%= all[i].genres %></span><span>Looking for: <%=all[i].seeking %></span></h2>
        <p class='profile-bio'><%= all[i].bio %></p>
        <h2 class="audition-header"> My Audition </h2>
        <iframe width="286" height="200" src="//www.youtube.com/embed/<%= all[i].youtube %>" frameborder="0" allowfullscreen></iframe>
        <button class='likeButton lk-btn' value='likes'><i class="fa fa-thumbs-up"></i></button>
        <button class='dislikeButton lk-btn' value='dislikes'><i class="fa fa-thumbs-down"></i></button>
      </li>

    <% } %>

    <li class = 'card current' id='end'>
      <h3 class='noLove'>We're having a hard time finding <br>people near you. Try <a href='/dashboard'>Refreshing your page</a> <br>or start chatting with your matches.</h2>

    </li>

      <div id="myModal" class="modal hidden">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2 class='matched-txt'>It's a match!</h2>
          <h3 class='small-matched-txt'></h3>
          <img class='matched-img' src="https://media1.tenor.com/images/8fa48b352641fddbec354aa66231f98d/tenor.gif?itemid=8669364">
          <h3 class='chatRedirect'>Send them a message to set up your next jam sesh. <a href='/matches'>Go to your messages</a></h3>

        </div>
      </div>



</body>

<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>

<script>

  $('.lk-btn').click (function(e) {
    window.par = this;
    console.log($(this).parent().data('id'))
    $('.card').removeClass('current');
    $(this).parent().next().addClass('current');
    let id = $(this).parent().data('id');
    let value = this.value;
    let name = $('#name').text();
    $.post('',
    {
        id    : id,
        value : value,
        name  : name
    },
    function(data, status){         //show modal
      if (data.match != null) {
          console.log($('.modal'), 'butt')
          $('.modal').removeClass('hidden');
          let feedback = $('.modal-content')
          feedback.find('.small-matched-txt').html('You and ' + name + ' were meant to jam together!');
      }
      $('.close'||!'.modal').click(function(e) {
        $('.modal').addClass('hidden');//close the modal when clicking on the x or outside of the modal window
      });
        console.log(data);
    }
  );
});

  /*$('.chatRedirect').click(function(e){
    window.location.href='/chat';
  });*/

</script>

</html>
