<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="app.css" rel="stylesheet" type="text/css" />
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
        li          { opacity : 0; transition : all .5s}
        li.selected { opacity: 0;}
        li.next     { opacity : 1;}
        li:first-child {opacity : 1;}
    </style>
</head>
<body>

  <header>
    <% include partials/header %>
  </header>

<div class="container">


    <div class="page-header text-center">
        <h1> Dashboard </h1>
    </div>

    <ul>
    <% for (var i = 0; i < all.length; i++) { %>
      <li data-id= '<%= all[i].id %>'>

        <%= all[i].facebook.name %>
        <%= all[i].local.email %>
        <%= all[i].google.name %>
        <strong>YouTube URL</strong>: <%= all[i].youtube %><br>
        <strong>Band Name</strong>: <%= all[i].name %><br>
        <%if (all[i].genres.length > 0) {%>
          <strong>Genres</strong>: <%= all[i].genres %><br> <%}%>
        <iframe width="560" height="315" src="//www.youtube.com/embed/<%= all[i].youtube %>" frameborder="0" allowfullscreen></iframe>'
        <button class='likeButton' value='likes'>Like</button>
        <button class='dislikeButton' value='dislikes'>Dislike</button>
      </li>
      <% } %>
    </ul>
</div>
</body>

<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>

<script>

  $('button').click (function(e) {
    window.par = this;
    console.log($(this).parent().data('id'))
    $(this).parent().addClass('selected')
    $(this).parent().next().addClass('next')
    let id = $(this).parent().data('id');
    let value = this.value;
    $.post('',
    {
        id    : id,
        value : value
    },
    function(data, status){
        console.log("Data: " + data + "\nStatus: " + status);
    });
});
</script>

</html>
