<!doctype html>
<html>
<head>
    <title>Band Together</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="app.css" rel="stylesheet" type="text/css" />
    <style>
        body         { padding-top:80px; word-wrap:break-word; background-color: gray;}
        li          { opacity : 0; transition : all .5s; list-style: none; text-align: left; display:none;}
        li.selected { opacity: 0; display: none;}
        li.next     { opacity : 1; display: block;}
        /*li:first-child {opacity : 1; display: block;}*/
        .container { margin-top: 20em; margin-bottom: 10em;}
        .card     { margin-top: 3em;}
        li.current { display: block; opacity: 1;}


    </style>
</head>
<body>

  <header>
    <% include partials/header %>
  </header>

<div class="container">

    <ul>
    <% for (var i = 0; i < all.length; i++) { %>

      <li data-id= '<%= all[i].id %>' class = "<%= i !== 0 ? 'card': 'card current' %>">
        <h2><%= all[i].name %><span><%= all[i].genres %></span><span>Looking for: <%=all[i].seeking %></span></h2>
        <!--<p>Email: <%= all[i].local.email %> </p>

        <%= all[i].facebook.name %>
        <%= all[i].google.name %>-->
        <!--<strong>YouTube URL</strong>: <%= all[i].youtube %><br>

        <%if (all[i].genres.length > 0) {%>
        <strong>Genres</strong>: <%= all[i].genres %><br> <%}%>-->
        <p><%= all[i].bio %></p>
        <iframe width="560" height="315" src="//www.youtube.com/embed/<%= all[i].youtube %>" frameborder="0" allowfullscreen></iframe>
        <button class='likeButton' value='likes'><i class="fa fa-thumbs-up"></i></button>
        <button class='dislikeButton' value='dislikes'><i class="fa fa-thumbs-down"></i></button>
      </li>
      <% } %>
    </ul>
</div>
</body>

<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>

<script>

  $('iframe').click(function(e){
    $('body').toggleClass('jump');
    console.log('hi')
  })

  $('button').click (function(e) {
    window.par = this;
    console.log($(this).parent().data('id'))
    //$(this).parent().addClass('selected')
    $('.card').removeClass('current');
    $(this).parent().next().addClass('current');
    //$(this).parent().next().addClass('next')
    //$(this).parent().prev().addClass('prev')
    let id = $(this).parent().data('id');
    let value = this.value;
    let name = this.name;
    $.post('',
    {
        id    : id,
        value : value,
        name  : name
    },
    function(data, status){
        console.log("Data: " + data + "\nStatus: " + status);
    });
});
</script>

</html>
