<!doctype html>
<html>
<head>
    <title>Band Together</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="app.css" rel="stylesheet" type="text/css" />
    <link href="mobile.css" rel="stylesheet" type="text/css" />
    <% include partials/head %>
    <style>
        li           {display: block;}
    </style>

</head>

<body>

  <header>
    <% include partials/profile-header %>
  </header>

    <!--display profile info taken from the customize page.
    the cog gives a dropdown menu with logout and edit options-->
    <li class='card'>
      <h2 class='profile-header'> Your Profile </h2>
      <i class="fa fa-cog" aria-hidden="true"></i>
      <div class='dropdown-content' id='myDropdown'>
        <a href='/customize'>Edit Profile</a>
        <a href='/logout'>Log out</a>
      </div>
      <h2 class='profile-intro'><%= user.name %><span><%= user.genres %></span><span>Looking for: <%=user.seeking %></span></h2>
      <p class='profile-bio'><%= user.bio %></p>
      <h2 class="audition-header"> My Audition </h2>
      <iframe width="286" height="200" src="//www.youtube.com/embed/<%= user.youtube %>" frameborder="0" allowfullscreen></iframe>
    </li>


<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous">

</script>

<script>

    //clicking on the cog opens the drop down menu
    $('.fa-cog').click(function(e){
      $('#myDropdown').toggle('.show');
    });

    //clicking anywhere on the window will close the dropdown
    window.onclick = function(event) {
      if (!event.target.matches('.fa-cog')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
    }}}};


 </script>

</body>
</html>
