<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="app.css" rel="stylesheet" type="text/css" />
    <style>
        body         { padding-top:80px; word-wrap:break-word; }

    </style>
</head>
<body>

  <header>
    <% include partials/header %>
  </header>

<div class="container">


    <div class="page-header text-center">
        <h1>Your Profile</h1>
    </div>

      <strong>name</strong>: <%= user.name %><br>
      <strong>bio</strong>: <%= user.bio %><br>
      <strong>genres</strong>: <%= user.genres %><br>
      <strong>seeking</strong>: <%= user.seeking %><br>
      <strong>YouTube URL</strong>: <%= user.youtube %><br>


    <ul>
    <% for(var i=0; i<user.matches.length; i++) { %>
        <li>
            <a href='chat/<%= user.matches[i].chatId %>'>
                <%= user.matches[i].userId %>
            </a>
        </li>
    <% } %>
  </ul>

</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>

<script>
  $('button').click (function(e) {
    window.par = this;
    console.log($(this).parent().data('id'))
    let id = $(this).parent().data('id');
    let value = this.value;
    $.post('',
    {
        id    : id,
        value : value
    },
    function(data, status){
        console.log("Data: " + data + "\nStatus: " + status);
    });
});




 </script>

</body>
</html>
